body {
    font-family: Arial, sans-serif;
    /*background: linear-gradient(to bottom, #87CEEB, #1E90FF);*/
    background: url('weather1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: gray;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fff;
}

.search-container {
    margin: 20px 0;
}

input[type="text"] {
    padding: 8px;
    width: 70%;
    border: none;
    border-radius: 4px;
    color: #333;
    background: rgba(255, 255, 255, 0.7);
}

button {
    padding: 8px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
    color: #333;
}

.weather-icon {
    margin-top: 20px;
}
